@page "/traditionalogin"
@inject NavigationManager NavigationManager

<div class="login-container">
    <div class="login-content">
        <h1 class="title-large">KNOWZY</h1>
        <h1 class="title-outline">KNOWZY</h1>
        <h1 class="title-large">KNOWZY</h1>

        <div class="image-container">
            <img src="_content/Knowzy.Shared/imagenes/knowzy_3.svg" class="glasses-legs" style="height:350px; width:300px;" alt="Main Image" />
        </div>

        <div class="traditional-login-container">
            <p class="plogin">Username / Email</p>
            <input type="email" class="auth-input" placeholder="User123" />
            <p class="plogin">Password</p>
            <input type="password" class="auth-input" placeholder="xxxxxxxxx" />

            <!-- Contenedor para los enlaces "Create an account" y "Forget the password?" -->
            <div class="account-options">

                <a class="account-link" href="/create-account">Create an account</a>

                <a class="account-link" href="/forgot-password">Forget the password?</a>
            </div>

            <button class="auth-button yellow-button" @onclick="Continue">Continue</button>
        </div>

    </div>
</div>

@code {
    private void Continue()
    {
        NavigationManager.NavigateTo("/Readytoplay");
    }

}
