<div class="navbar">
    <div class="navbar-menu">
        <span class="menu-icon" @onclick="ToggleMenu">&#9776;</span>
    </div>
    <div class="navbar-logo">
        <img src="_content/Knowzy.Shared/imagenes/knowzy_2.svg" alt="Logo" class="logo-icon">
    </div>
</div>

@code {
    private void ToggleMenu()

    {

        // Logic to toggle menu visibility

    }
}