<div class="navbar-secondary">
    <!-- First Row (Floor) -->
    <div class="navbar-first-row">
        <div class="navbar-left">
            <span class="logo">KNOWZY</span>
        </div>
        <div class="navbar-right">
            <span class="last-saved">Last saved 10 min. ago</span>
            <span class="three-dots">&#x22EE;</span> <!-- Three dots -->
            <img src="_content/Knowzy.Shared/imagenes/knowzy_2.svg" alt="User Icon" class="user-icon">
        </div>
    </div>

    <!-- Second Row (Floor) -->
    <div class="navbar-second-row">
        <nav>
            <ul>
                <li class="active">General</li>
                <li>Questions</li>
                <li>Invite / share</li>
            </ul>
        </nav>
    </div>
</div>
